.about__content {
	text-align: left;
	flex: 0 0 35%;
	margin-left: -258px;
}
.about__content > .main-title {
	padding-right: 20px;
}

.about__content p {
	margin-top: 25px;
	font-size: 15px;
	line-height: 160%;
	color: #4c4c4c;
}
