.donation .wrapper {
	display: flex;
	justify-content: center;
}

/* .donation-img {
	flex: 0 0 42%;
} */

.donation-content {
	flex: 0 0 31.6%;
}

.information__bank {
	font-size: 15px;
	line-height: 110%;
	font-weight: normal;
	display: flex;
	align-items: center;
	letter-spacing: 0.06em;
	color: #545454;
}
.information > h3 {
	padding-right: 70px;
}
.information > * + * {
	margin-top: 20px;
}
.information__description {
	font-family: Arial;
	font-style: italic;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	color: #b2b2b2;
}

.donation-img {
	display: flex;
	align-items: center;
	margin-right: 30px;
}
