.donation-content {
	margin: 1px 0;
	//max-width: 380px; //flex: 0 0 31.6%;
	flex-basis: 31.6%;
	@include media-tablet {
		width: 49.48%;
	}
	@include media-mobile {
		width: auto;
		text-align: center;
	}
}

.information__title {
	//padding-right: 70px;

	span {
		display: inline-block;
	}
}
.information > * + * {
	margin-top: 21px;
}

.donation-img {
	display: flex;
	align-items: center;
	margin-right: 30px;
	@include media-tablet {
		order: 1;
		margin-top: 60px;
		margin-right: 0;
	}
	@include media-mobile {
		margin-top: 42px;
	}
}
