.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1rem;
}
.logo__tittle {
	font-size: 3.2em;
	line-height: 110%;
	color: #f1cdb3;
	margin-bottom: 10px;
}
.logo__sub-tittle {
	font-size: 1.3em;
	line-height: 15px;
	letter-spacing: 0.1em;
	color: #ffffff;
}
