.screen-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.content {
	margin-top: -80px;
	flex: 38.33%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 1rem;
}

.content__heading {
	font-weight: 400;
	font-size: 4.4rem;
	line-height: 130%;
	color: #ffffff;
	margin-bottom: 42px;
	letter-spacing: 0px;
	padding-right: 60px;
}
.content__subheading {
	font-size: 1.5em;
	line-height: 160%;
	color: #cdcdcd;
	margin-bottom: 41px;
}
.content__img {
	margin-left: 42px;
	flex: 58.08%;
}
