$h2-color: #ffffff;
$color-link-header: #cdcdcd;
$color-subtittle-header: #cdcdcd;

/* button */

$color-text-button: #292929;
$bg-button: #f1cdb3;

/* section */

$color-h3: #545454;
$color-p: #4c4c4c;
$color-link-header: #cdcdcd;
$color-link-header: #cdcdcd;

/* content */
