button {
	cursor: pointer;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	text-align: center;
	padding: 15px 45px;
	border-radius: 100px;
	border: none;
}

.button--primary {
	color: $color-text-button;
	background: $bg-button;
	@extend %transition;
	&:hover {
		background: #fddcc4;
	}
}
.button--secondary {
	color: #292929;
	border: 2px solid #f1cdb3;
	&:hover {
		background: #fddcc4;
		border-color: #fddcc4;
	}
}

/* временно нужно спешить  */
.footer {
	padding-top: 40px;
}

.button-credit {
	display: flex;
	align-items: center;
	padding: 1em 1.5em;
	background: #f1cdb3;
	border-radius: 9px;
	font-size: 1rem;
}

.button-credit > * + * {
	margin-left: 15px;
}
.button-credit__link {
	font-size: 2em;
	color: #545454;
	text-decoration: none;
}

.footer-btn {
	display: flex;
	align-items: center;
	font-family: Georgia;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #f1cdb3;
}
.footer-btn > * + * {
	margin-left: 20px;
}

.button-arrow {
	margin-top: 57px;
	cursor: pointer;
	width: 52px;
	height: 52px;
	border: 2px solid #f1cdb3;
	border-radius: 100px;
	@extend %transition;
	&:hover {
		background-color: #fddcc4;
		border-color: #fddcc4;
	}
}

.button-arrow__img {
	display: block;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../../../../assets/icons/Arrow-left.svg");
}
.img--left {
	transform: rotate(0deg);
}
.img--right {
	transform: rotate(-180deg);
}

a:link {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

a.link-active {
	color: #fafafa;
	border-bottom: 3px solid $bg-button;
}
