.header {
	padding-top: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 60px;
}

.footer .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.help .heading-center {
	width: 25%;
}
